@import "../../vars.css";

.container{
    margin-left: 10%;
    margin-right: 10%;
}
.footerContainer{
    padding: 5vw 0;
    color: var(--color-text);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.left{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left img{
    width: 60%;
}

.left p{
    font-size: 1.2vw;
}

.linksContainer{
    width: 60%;
    display: flex;   
    justify-content: space-between; 
}

.footerLink{
    display: flex;
    flex-direction: column;
}

.footerLink h4{
    font-size: 1.1vw;
}
.footerLink ul{
    margin-top: 2vw;
    color: var(--color-para);
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
    font-size: 1vw;
}

.footerBottom{
    padding: 2vw 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerBottom p{
    font-size: 1.2vw;
}

.footerImg{
    display: flex;
    gap:30px;

}

.footerImg img{
    width: 1.2vw;
}

@media screen and (max-width : 800px){
    .footerContainer{
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }
    
    .left{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    
    .left img{
        width: 60%;
    }
    
    .left p{
        font-size: 2.2vw;
        margin-bottom: 5vw;
        text-align: center;
    }
    
    .linksContainer{
        width: 100%;
        justify-content: space-around; 
    }
    
    .footerLink h4{
        font-size: 2.5vw;
    }
    .footerLink ul{
        gap: 10px;       
        font-size: 2.2vw;
    }
    
    .footerBottom p{
        font-size: 2vw;
    }
    
    .footerImg{
        display: flex;
        gap:10px;
    
    }
    
    .footerImg img{
        width: 2vw;
    }
}